<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface Mata Kuliah</title>
</head>
<body style="background-color: rgb(233, 219, 99); margin:0;">
    <header style="background-color: rgb(111, 6, 143); margin-top: -22px; padding: 10px 0px 0.5px 10px;"><h1 style="color: rgb(255, 240, 152);">Form Pengisian Data Matkul</h1></header>
    
    <form style="margin-left: 20px;">
        <p><input name="nama" id="nama" type="text" placeholder="Nama Matkul"></p>
        <p><input name="kode" id="kode" type="text" placeholder="Kode Matkul"></p>
        <p><input name="dosen" id="dosen" type="text" placeholder="Dosen Matkul"></p>
        <p><button type="submit">Submit</button></p>
        <p id="submitted" style="color: rgb(111, 6, 143);"></p>
    </form>
</body>
<script>
    const form = document.querySelector('form');
    const submitted = document.getElementById('submitted');

    form.addEventListener("submit", (event) => {
        const nama = document.getElementById("nama").value;
        const kode = document.getElementById("kode").value;
        const dosen = document.getElementById("dosen").value;

        fetch("http://localhost:3001/postdata", {
            method: "post",
            headers: {
                'Content-type' : 'application/json'
            },
            body: JSON.stringify({
                nama: nama,
                kode: kode,
                dosen: dosen
            })
        })
        .then(response => response.json())
        .then((data) => {
            submitted.innerHTML = data.message;
        })
        event.preventDefault()
    })
</script>
</html>